<section class="about">
  <div class="container">


     <div class="about-block about-advantages">
      <h2 class="about__title about__title--wide">Интернет-магазин Мебель из России – большой выбор, низкие цены</h2>
      <div class="about-features">
        <div class="about-feature">
          <div class="about-feature__icon">
            <img src="/images/index/about/discounts.svg" alt="" />
          </div>
          <h4 class="about-feature__title">Скидки на мебель</h4>
          <p class="about-feature__text">У нас есть качественная мебель со скидками</p>
        </div>
        <div class="about-feature">
          <div class="about-feature__icon">
            <img src="/images/index/about/personal_manager.svg" alt="" />
          </div>
          <h4 class="about-feature__title">Персональный менеджер</h4>
          <p class="about-feature__text">Для каждого покупателя персональный менеджер</p>
        </div>
        <div class="about-feature">
          <div class="about-feature__icon">
            <img src="/images/index/about/free_shipping.svg" alt="" />
          </div>
          <h4 class="about-feature__title">Доставка бесплатно</h4>
          <p class="about-feature__text">Доставка бесплатно от 25000 руб.</p>
        </div>
        <div class="about-feature">
          <div class="about-feature__icon">
            <img src="/images/index/about/return_goods.svg" alt="" />
          </div>
          <h4 class="about-feature__title">Возврат товара</h4>
          <p class="about-feature__text">Можно аннулировать заказ до его доставки</p>
        </div>
      </div>

      <div class="about-guarantee">
        <div class="about-guarantee__badge">
          <img src="/images/index/about/guarantee.png" alt="2 года гарантии" />
        </div>
        <div class="about-guarantee__text">
          <p class="about__text">Каждый день в нашем городе продаётся мебель различных категорий в больших количествах. Поиски, посещение мебельных магазинов, требуют много времени и терпения. Поэтому много покупок совершается онлайн. При этом покупатель получает выгоду, так как товары обходятся дешевле, чем в реальном магазине.</p>
          <p class="about__text">Вы посетили магазин «Мебель из России», где продаются товары для квартир, домов и офиса. <strong>Это продукция отечественных производителей, на которую мы даём гарантию от 2 лет.</strong></p>
        </div>
      </div>
    </div>
    
    {# ── Блок 1: Все в одном каталоге ── #}
    <div class="about-block about-catalog">
      <div class="about-catalog__grid">
        <div class="about-catalog__img-col">
          <img src="/images/index/about/catalog.png" alt="Каталог" class="about-catalog__img" />
        </div>
        <div class="about-catalog__text-col">
          <h2 class="about__title">Все в одном каталоге</h2>
          <p class="about__text">Большой выбор товара– это хорошо для покупателя, но иногда затрудняет покупку. Важно сделать выбор, в котором будет сочетаться три параметра: дизайн, цена и качество. Недорогая мебель должна быть качественной. Мы рекомендуем покупать товары в известных магазинах, которые следят со своей репутацией.</p>
          <p class="about__text">Магазин «Мебель из России» предлагает доступную продукцию отечественных компаний. При производстве использовались материалы - натуральное дерево, ламинированная ДСП, МДФ, сталь, стекло и другое. Вы можете сделать выбор материалов обивки из каталогов производителя.</p>
        </div>
      </div>
      <div class="about-teal-box">
        <p>Товары распределены в логически понятном каталоге, где для каждой комнаты вашего дома мы предлагаем свои предметы интерьера. У нас продаётся <a href="#"><strong>мягкая мебель</strong></a>, которая имеет подкатегории – диваны и кресла, готовые комплекты и пуфики. Раздел <a href="#"><strong>кухни</strong></a> имеет множество подкатегорий, которые позволят купить вам готовый гарнитур или отдельные предметы интерьера. Карточки товаров позволяют изучить внешний вид мебели по фотографии, а также технические характеристики, варианты отделки и обивки.</p>
      </div>
    </div>

    {# ── Блок 2: Быстрая покупка ── #}
    <div class="about-block about-fast">
      <div class="about-fast__grid">
        <div class="about-fast__left">
          <h2 class="about__title">Быстрая покупка</h2>
          <p class="about__text">Мы заботимся о вашем времени и гарантируем покупку мебели в один клик. Если вы зарегистрируетесь на сайте, то сможете получить дополнительные выгоды. Вы первые сможете узнать о распродажах и получить скидки, как постоянные клиенты. Оформление покупки несложное, так как мы максимально сократили количество полей.</p>
          <p class="about__text">В качестве дополнительных услуг для покупателей мы выполняем <a href="#">доставку по СПб и ЛО, сборку мебели</a> профессионально по доступным ценам.</p>
        </div>
        <div class="about-fast__right">
          <img src="/images/index/about/mac.png" alt="Быстрая покупка" class="about-fast__img" />
        </div>
      </div>

      <div class="about-pink-box">
        <p class="about-pink-box__title">Магазин «Мебель из России» предлагает:</p>
        <ul class="about-pink-box__list">
          <li>Оплату 3 способами: наличными и безналичными, рассрочку на 12 месяцев.</li>
          <li>Возможность отследить статус заказа.</li>
          <li>Гарантию от 2 лет.</li>
        </ul>
      </div>

      <div class="about-quote">
        <div class="about-quote__marks">&ldquo;</div>
        <p>Обязательно следите за распродажами у нас в магазине!<br>
        Вы не пропустите новинки, которые могут вас заинтересовать.<br>
        По всем вопросам обращайтесь к нашим менеджерам по телефону.</p>
      </div>

      <div class="about-reply">
        <p>С лучшими пожеланиями,<br>администраторы магазина «Мебель из России».</p>
      </div>
    </div>

    {# ── Блок 3: Преимущества ── #}
   

  </div>
</section>
