<div id="header">
  <div class="container">
    <div class="header-inner">
      <button class="header-burger" type="button" data-mobile-menu-open aria-label="Открыть меню">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="header-logo">
        <a href="/index.html">
          <img src="/images/header_logo.png" alt="Мебель из России" />
        </a>
      </div>

      <button class="header-catalog-btn" type="button">
        <img src="/images/nav_catalog.svg" alt="" />
        <span class="header-catalog-btn__text">Каталог</span>
      </button>

      <div class="header-search">
        <input type="text" name="search" placeholder="Умный поиск" autocomplete="off" />
        <button type="button" class="header-search__btn">
          <img src="/images/nav_search.svg" alt="" />
        </button>
      </div>

      <div class="header-actions">
        <a href="/account.html" class="header-action">
          <img src="/images/nav_user.svg" alt="" />
          <span>Войти</span>
        </a>
        <a href="/wishlist.html" class="header-action">
          <img src="/images/nav_heart.svg" alt="" />
          <span>Избранное</span>
        </a>
        <a href="/cart.html" class="header-action">
          <img src="/images/nav_basket.svg" alt="" />
          <span>Корзина</span>
        </a>
      </div>
    </div>
  </div>
</div>
